/**
 * 公共加载页面view
 */
.multilingual-page-loading {
    opacity: 1;
    background: #f5f5f5;
    display: block;
}

/**
 * 快捷弹窗
 */
.plugins-multilingual-select-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1111;
    display: none;
}
.plugins-multilingual-select-container .popup-not-title {
    position: relative;
    margin: 10%;
    width: 260px;
    margin: 15% auto auto auto;
}
.plugins-multilingual-select-container .popup-not-title .am-close {
    position: absolute;
}
.plugins-multilingual-select-container ul a:hover {
    text-decoration: none;
}