<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- topbar -->
<header
	class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow "
	th:fragment="top">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3"
		th:href="@{/shopping}">[[${session?.userLogin?.userMail}]]</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed"
		type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
		aria-controls="sidebarMenu" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<input class="form-control form-control-dark w-100" type="text"
		placeholder="Search" aria-label="Search">
	<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap" id="nav"><a class="nav-link"
			th:href="@{/loginout}">ログアウト</a></li>
	</ul>
</header>


<!-- sidebar -->

<nav id="sidebarMenu"
	class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
	th:fragment="side">
	<div class="position-sticky pt-3">
		<ul class="nav flex-column" id="myTab">
		<li class="nav-item"><a class="nav-link active"
				aria-current="page" th:href="@{/shopping/center}"
				th:class="${activeUrl=='/shopping/center' ? 'nav-link active' : 'nav-link'}">
					<span data-feather="home"></span> 個人センター
			</a></li>
			<li class="nav-item"><a class="nav-link active"
				aria-current="page" th:href="@{/center/userInfo}"
				th:class="${activeUrl=='/center/userInfo' ? 'nav-link active' : 'nav-link'}">
					<span data-feather="home"></span> 会員情報登録・変更
			</a></li>
			<li class="nav-item" th:if="${session?.userLogin?.role} eq 'user'"><a
				class="nav-link" th:href="@{/center/userTodoke}"
				th:class="${activeUrl=='/center/userTodoke' ? 'nav-link active' : 'nav-link'}">
					<span data-feather="file"></span> 届け住所の登録・変更
			</a></li>

			<li class="nav-item"><a class="nav-link"
				th:href="@{/center/pwdChange}"
				th:class="${activeUrl=='/center/pwdChange' ? 'nav-link active' : 'nav-link'}">
					<span data-feather="users"></span> パスワード変更
			</a></li>
			<li class="nav-item" th:if="${session?.userLogin?.role} eq 'user'"><a
				class="nav-link" th:href="@{/center/favorite}"
				th:class="${activeUrl=='/center/favorite' ? 'nav-link active' : 'nav-link'}">
					<span data-feather="bar-chart-2"></span> お気に入り
			</a></li>
 			
			<li class="nav-item" th:if="${session?.userLogin?.role} eq 'user'"><a
				class="nav-link" th:href="@{/center/myorder}" th:class="${activeUrl=='/center/myorder' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="layers"></span> マイ注文
			</a></li>
			<li class="nav-item" th:if="${session?.userLogin?.role} eq 'user'"><a
				class="nav-link" th:href="@{/center/myshop}" th:class="${activeUrl=='//center/myshop' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="layers"></span> 出店申込
			</a></li>
		</ul>

		<h6 th:if="${session?.userLogin?.role} eq 'admin'"
			class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>Admin</span> <a class="link-secondary" href="#"
				aria-label="Add a new report"> <span data-feather="plus-circle"></span>
			</a>
		</h6>
		<ul class="nav flex-column mb-2"
			th:if="${session?.userLogin?.role} eq 'admin'">
			<li class="nav-item"><a class="nav-link"
				data-bs-toggle="collapse" href="#collapseExample" role="button"
				aria-expanded="false" aria-controls="collapseExample"> <span
					data-feather="file-text"></span> ユーザ管理
			</a>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">

						<a class="nav-link" th:href="@{/center/userlist}" th:class="${activeUrl=='/center/userlist' ? 'nav-link active' : 'nav-link'}"> <span
							data-feather="file-text"></span> ユーザ一覧
						</a> <a class="nav-link" th:href="@{/center/userInfoList}" th:class="${activeUrl=='/center/userInfoList' ? 'nav-link active' : 'nav-link'}"> <span
							data-feather="file-text"></span> ユーザ情報
						</a> <a class="nav-link" th:href="@{/center/userTodokeList}" th:class="${activeUrl=='/center/userTodokeList' ? 'nav-link active' : 'nav-link'}"> <span
							data-feather="file-text"></span> ユーザ届け住所連絡
						</a>

					</div>
				</div></li>

			<li class="nav-item"><a class="nav-link"
				th:href="@{/center/cyumonManager}" th:class="${activeUrl=='/center/cyumonManager' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="file-text"></span> 注文管理
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/center/productmanger}" th:class="${activeUrl=='/center/productmanger' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="file-text"></span> 商品管理
			</a></li>
		
			
			<li class="nav-item"><a class="nav-link"
				th:href="@{/center/storemanger}" th:class="${activeUrl=='/center/storemanger' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="file-text"></span> 店舗管理
			</a></li>
		</ul>

		<h6 th:if="${session?.userLogin?.role} eq 'store'"
			class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>STORE</span> <a class="link-secondary" href="#"
				aria-label="Add a new report"> <span data-feather="plus-circle"></span>
			</a>
		</h6>
		<ul class="nav flex-column mb-2"
			th:if="${session?.userLogin?.role} eq 'store'">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/center/ordermanager}" th:class="${activeUrl=='/center/ordermanager' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="file-text"></span> 注文管理
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/center/myproducts}" th:class="${activeUrl=='/center/myproducts' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="file-text"></span> 商品管理
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/center/myshop}" th:class="${activeUrl=='/center/myshop' ? 'nav-link active' : 'nav-link'}"> <span
					data-feather="file-text"></span> 店舗管理
			</a></li>
		</ul>


	</div>
</nav>

</html>